<div style="text-align: start;">
    <h1><strong>Eventos</strong></h1>
</div>
<mat-card>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button routerLink=".." mat-icon-button color="primary">
                Atrás
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <div class="search-input mat-elevation-z2">
            <table class="table-search">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Buscar Área</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Area 1" #input>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        <div class="container-table  mat-elevation-z2">
            <table class="table-data" mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                    <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <!-- <button mat-flat-button color="primary">{{row.activo? 'Desactivar':'Activar'}} </button> -->
                        <!-- <button mat-flat-button color="primary">Editar </button> -->
                        <button color="primary" mat-icon-button>
                            <mat-icon>
                                more
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay registros "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Selecciona página de áreas">
            </mat-paginator>
        </div>
    </div>
</mat-card>