<div style="height:240px;">
    <mat-list-item style="height:240px;">
        <!-- <div style="height:14vh; border-color: red;border-style: solid">
    <mat-list-item style="height:14vh; border-color: red;border-style: solid"> -->
        <table>
            <tr>
                <div>
                    <mat-label class="row">
                        <strong>{{pregunta.id}}.</strong> {{pregunta.pregunta}}
                    </mat-label>
                </div>
            </tr>
            <mat-radio-group (change)="onChangeAlternativa()" [(ngModel)]="alternativaSelected" matInput
                aria-label="Selecciona una alternativa">
                <table>
                    <tr *ngFor="let alternativa of pregunta.alternativas">
                        <mat-radio-button matInput style="padding:8px;" value="{{alternativa.id}}">
                            <span style="white-space: normal;">
                                <strong>{{alternativa.id}})</strong>
                                {{alternativa.nombre}}
                            </span>
                        </mat-radio-button>
                    </tr>
                </table>
            </mat-radio-group>
        </table>
    </mat-list-item>
    <mat-divider></mat-divider>
</div>