<mat-list-item style="margin-bottom: 24px;height: 100px;">
    <div>
        <div style="padding-top: 24px;">
            <mat-label class="row">
                <strong>{{pregunta.id}}.</strong> {{pregunta.pregunta}}
            </mat-label>
        </div>
        <div style="padding-top:24px;padding-bottom:24px;">
            <mat-radio-group (ngModelChange)="onChangeAlternativa()" [ngModel]="alternativaSelected" matInput
                aria-label="Select an option">
                <mat-radio-button *ngFor="let alternativa of pregunta.alternativas" matInput style="padding:8px"
                    value="alternativa.id"><strong>{{alternativa.id}})</strong>
                    {{alternativa.nombre}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</mat-list-item>