<mat-toolbar color="primary">
    Test Obligatorio Riesgos Laborales
</mat-toolbar>
<div>
    <mat-horizontal-stepper linear #stepper>
        <mat-step>
            <form>
                <ng-template matStepLabel>Ver video inducción</ng-template>
                <div style="text-align: center">
                    <button mat-raised-button matStepperNext style="width:600px;margin-bottom: 24px;" color="primary">Ya
                        he visto el video</button>
                </div>
                <div style="text-align: center">
                    <!-- <iframe width="1220" height="615" src="https://www.youtube.com/embed/tgbNymZ7vqY"> -->
                    <!-- <iframe width="1220" height="615" src="https://www.youtube.com/embed/v=K6J__d44-pM">
                    </iframe> -->
                    <iframe width="1220" height="615" src="https://www.youtube.com/embed/K6J__d44-pM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>Completar encuesta de riesgo</ng-template>
                <div>
                    <app-formulario-test-riesgo>
                    </app-formulario-test-riesgo>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Terminado</ng-template>
            <p>Tu induccion esta completa. Felicidades.</p>
            <p>Esta es valida hasta el 21/05/2022.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>