<mat-progress-bar mode=query *ngIf="isLoading"></mat-progress-bar>
<mat-tab-group #tabs backgroundColor="accent" color="primary" mat-align-tabs="center">
    <mat-tab label="Trabajadores Contratos">
        <app-tabla-buscador-trabajadores-admin *ngIf="!isLoading" [tipoTrabajador]="tiposTrabjador.CONTRATO"
            [listaTrabajadores]="listTrabajadoresContrato">
        </app-tabla-buscador-trabajadores-admin>
    </mat-tab>
    <mat-tab label="Trabajadores TPC">
        <app-tabla-buscador-trabajadores-admin [tipoTrabajador]="tiposTrabjador.TPC" *ngIf="!isLoading"
            [listaTrabajadores]="listTrabajadoresTPC">
        </app-tabla-buscador-trabajadores-admin>
    </mat-tab>
    <mat-tab label="Trabajadores Frecuentes">
        <app-tabla-buscador-trabajadores-admin *ngIf="!isLoading" [tipoTrabajador]="tiposTrabjador.FRECUENTES"
            [listaTrabajadores]="listTrabajadoresFrecuentes">
        </app-tabla-buscador-trabajadores-admin>
    </mat-tab>
    <mat-tab label="Crear Trabajador TPC">
        <app-nuevo-trabajador-tpc-form (onNuevoTrabajadorAsignado)=cargarTrabajadores()></app-nuevo-trabajador-tpc-form>
    </mat-tab>
</mat-tab-group>