<mat-card style="margin-top: 12px;">
    <section>
        <form [formGroup]="nuevoUsuarioForm">
            <div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Rol</mat-label>
                            <mat-select formControlName="tiporolid" name="tiporolid">
                                <mat-option *ngFor="let tipoRol of listaTipoRol" [value]="tipoRol.id">
                                    {{tipoRol.nombre}}
                                </mat-option>
                            </mat-select>
                            <button *ngIf="nuevoUsuarioForm.get('tiporolid')?.value != null" matSuffix mat-icon-button
                                aria-label="Clear" (click)="nuevoUsuarioForm.patchValue({'tiporolid':null})">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="nuevoUsuarioForm.hasError('required', 'tiporolid')">
                                Rol es <strong>necesario</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <!-- <div *ngIf="nuevoUsuarioForm.get('tiporolid')?.value && nuevoUsuarioForm.get('tiporolid')?.value !=5" -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Trabajador</mat-label>
                                <input type="text" placeholder="Selecciona uno" aria-label="Trabajadores" matInput
                                    formControlName="trabajadorId" [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption [displayWith]="getFormatTrabajador.bind(this)"
                                    #auto="matAutocomplete">
                                    <mat-option *ngFor="let trabajador of filteredOptions | async"
                                        [value]="trabajador.id">
                                        {{trabajador.rut}} {{trabajador.nombres}} {{trabajador.apellidoPaterno}}
                                        {{trabajador.apellidoMaterno}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput>
                                <button *ngIf="nuevoUsuarioForm.get('email')?.value != null" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="nuevoUsuarioForm.patchValue({'email':null})">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="nuevoUsuarioForm.hasError('required', 'email')">
                                    Email es <strong>necesario</strong>
                                </mat-error>
                                <mat-error *ngIf="nuevoUsuarioForm.hasError('email', 'email')">
                                    Formato email <strong>incorrecto</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input formControlName="telefono" matInput>
                                <button *ngIf="nuevoUsuarioForm.get('telefono')?.value != null" matSuffix
                                    mat-icon-button aria-label="Clear"
                                    (click)="nuevoUsuarioForm.patchValue({'telefono':null})">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="nuevoUsuarioForm.hasError('required', 'telefono')">
                                    telefono es <strong>necesario</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Empresa</mat-label>
                                <mat-select formControlName="empresaId" name="empresaId">
                                    <!-- <mat-option> TPC </mat-option> -->
                                    <mat-option *ngFor="let empresa of listaEmpresas" [value]="empresa.id">
                                        {{empresa.razonSocial}}
                                    </mat-option>
                                </mat-select>
                                <button *ngIf="nuevoUsuarioForm.get('empresaId')?.value != null" matSuffix
                                    mat-icon-button aria-label="Clear"
                                    (click)="nuevoUsuarioForm.patchValue({'empresaId':null})">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="nuevoUsuarioForm.hasError('required', 'empresaId')">
                                    Encargado es <strong>necesario</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: center;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button (click)="crearUsuario()" [disabled]="nuevoUsuarioForm.invalid || isLoadingNew"
                            class=" button-form button-add-form" mat-raised-button color="primary">Agregar</button>
                    </div>
                </div>
            </div>
        </form>
        <mat-progress-bar *ngIf="isLoadingNew" style="margin-top: 8px;" color="accent" mode="query">
        </mat-progress-bar>
    </section>
</mat-card>