<div>
    <mat-card>
        <div>
            <h4 style="text-transform:uppercase;"><strong>Test Obligatorio de informar sobre riesgos laborales</strong>
            </h4>
            <h5>Encierre en un círculo la o las alternativas que considere correctas</h5>
            <h4>Puntaje Total: <strong>10 puntos</strong></h4>
            <h4>Puntaje de Aprobación: <strong>8 puntos</strong> </h4>
        </div>
    </mat-card>
    <mat-card class="form-user">
        <form [formGroup]="trabajadorForm">
            <h3>Ingresa tus datos</h3>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="nombre" matInput>
                            <mat-error *ngIf="trabajadorForm.hasError('required','nombre')">
                                Nombre es <strong>necesario</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Apellido Paterno</mat-label>
                            <input formControlName="apellidoPaterno" matInput>
                            <mat-error *ngIf="trabajadorForm.hasError('required','apellidoPaterno')">
                                Apellido Paterno es <strong>necesario</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Apellido Materno</mat-label>
                            <input formControlName="apellidoMaterno" matInput>
                            <mat-error *ngIf="trabajadorForm.hasError('required','apellidoMaterno')">
                                Nombre es <strong>necesario</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Rut</mat-label>
                            <input formControlName="rut" matInput>
                            <mat-error *ngIf="trabajadorForm.hasError('required','rut')">
                                Rut es <strong>necesario</strong>
                            </mat-error>
                            <mat-error *ngIf="trabajadorForm.hasError('rutValido', 'rut')">
                                <!-- <mat-error *ngIf="nuevaVisitaForm.get('rut')?.errors?.passwordStrength"> -->
                                RUT no <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
    <mat-card>
        <form>
            <mat-list>
                <app-input-test-riesgo [preguntasHabilitada]=trabajadorForm.valid
                    (onAlternativaSelecccionada)=onAlternativaSelecccionada($event) [pregunta]="pregunta"
                    *ngFor="let pregunta of preguntasInduccion">
                </app-input-test-riesgo>
                <div>
                    <button mat-raised-button color="primary" (click)="evaluarResultado()" >Evaluar</button>
                </div>
            </mat-list>
        </form>
    </mat-card>
</div>