mat-card-title {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

.contrato-resumen {
    margin-top: 2vh;
}

.item-detail-row {
    height: 5vh;
}

.contrato-card {
    background-color: #666991;
    color: white;
}

.header-card {
    color: white;
    background-color: #292478;
}
