<div>
    <mat-card>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button [routerLink]="['/contratos-adceecc', {}]" mat-icon-button color="primary">
                    Atrás
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-card backgroundcolor="primary">
                        <mat-card-title-group>
                            <mat-card-title>Empresa</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
                        </mat-card-title-group>
                        <mat-card-content>
                            Empresa
                        </mat-card-content>
                        <mat-card-actions>
                            <button style="width: 100%;" color="primary" mat-flat-button>Detalles</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-card backgroundcolor="primary">
                        <mat-card-title-group>
                            <mat-card-title>Trabajadores</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
                        </mat-card-title-group>
                        <mat-card-content>
                            Trabajadores
                        </mat-card-content>
                        <mat-card-actions>
                            <button style="width: 100%;" color="primary" mat-flat-button>Detalles</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-card backgroundcolor="primary">
                        <mat-card-title-group>
                            <mat-card-title>Vehiculos</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
                        </mat-card-title-group>
                        <mat-card-content>
                            Vehiculos
                        </mat-card-content>
                        <mat-card-actions>
                            <button style="width: 100%;" color="primary" mat-flat-button>Detalles</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-card backgroundcolor="primary">
                        <mat-card-title-group>
                            <mat-card-title>Cargos</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
                        </mat-card-title-group>
                        <mat-card-content>
                            Cargos
                        </mat-card-content>
                        <mat-card-actions>
                            <button style="width: 100%;" color="primary" mat-flat-button>Detalles</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-card backgroundcolor="primary">
                        <mat-card-title-group>
                            <mat-card-title>Turnos</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
                        </mat-card-title-group>
                        <mat-card-content>
                            Turnos
                        </mat-card-content>
                        <mat-card-actions>
                            <button style="width: 100%;" color="primary" mat-flat-button>Detalles</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-card backgroundcolor="primary">
                        <mat-card-title-group>
                            <mat-card-title>Eventos</mat-card-title>
                            <mat-card-subtitle>Small</mat-card-subtitle>
                            <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
                        </mat-card-title-group>
                        <mat-card-content>
                            Eventos
                        </mat-card-content>
                        <mat-card-actions>
                            <button style="width: 100%;" color="primary" mat-flat-button>Detalles</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div style="margin-top: 4vh;">
            <div style="text-align: center;">
                <h1>Ultimos Registros</h1>
            </div>
        </div>
    </mat-card>
</div>