<div>
    <mat-progress-bar mode="query" *ngIf="isLoading" ></mat-progress-bar>
    <mat-tab-group #tabs backgroundColor="accent" color="primary" mat-align-tabs="center">
        <mat-tab label="Lista">
            <app-tabla-buscador-nombrada *ngIf="!isLoading">
            </app-tabla-buscador-nombrada>
        </mat-tab>
        <mat-tab label="Crear Nombrada">
            <app-nueva-nombrada-form [listaTrabajadores]="listTrabajadores" *ngIf="!isLoading"></app-nueva-nombrada-form>
        </mat-tab>
    </mat-tab-group>
</div>