<mat-card class="container">
    <mat-card-header>
        <mat-card-title>
            Mi Cuenta
        </mat-card-title>
    </mat-card-header>
    <input type="file" class="upload" (change)="changeListener($event)">
    <form [formGroup]="usuarioForm">
        <div>
            <div class="row">
                <mat-card-subtitle>
                    Datos Peronales
                </mat-card-subtitle>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="apellido1">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido Paterno</mat-label>
                        <input matInput formControlName="apellido2">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Rut</mat-label>
                        <input [readonly]="true" matInput formControlName="rut">
                        <mat-error *ngIf="usuarioForm.hasError('required', 'rut')">
                            RUT es <strong>necesario</strong>
                        </mat-error>
                        <mat-error *ngIf="usuarioForm.hasError('rutValido', 'rut')">
                            RUT no <strong>valido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <mat-card-subtitle>
                    Contacto
                </mat-card-subtitle>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input [readonly]="true" matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName="telefono">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </form>
    <div class="row">
        <mat-card-subtitle>
            Trabajo
        </mat-card-subtitle>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Empresa</mat-label>
                <input matInput [readonly]="true" [(ngModel)]="empresa">
            </mat-form-field>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Tipo Rol</mat-label>
                <input matInput [readonly]="true" [(ngModel)]="tipoRol">
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions style="text-align: center;">
        <button mat-raised-button [disabled]="usuarioForm.invalid" (click)="guardarDatos()" color="primary">Guardar
            Cambios</button>
        <button mat-raised-button color="accent">Restablecer</button>
    </mat-card-actions>
</mat-card>