mat-form-field {
    margin-right: 8px;
}

.table-item {
    margin-top: 12px;
    .td-accordion {
        padding-left: 26px;
        mat-accordion {
            mat-expansion-panel {
                width: 72vw;
            }
        }
    }
}

.input-form{
    width: 100%;
}

