<div class="">
    <mat-card>
        <div style="text-align: start;" class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button (click)="goBack()" style="margin-top: -6px;" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h3><strong>Documentos de la carpeta</strong></h3>
            </div> -->
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <h3><strong>{{nombreItemCarpetaArranque}}</strong></h3>
            </div>
        </div>
        <mat-progress-bar *ngIf="isLoading"></mat-progress-bar>
        <div style="height: 200px; text-align: center; margin-top: 60px;" *ngIf="tiposDocumentos.length == 0">
            <p>No hay documentos creados</p>
        </div>
        <div *ngFor="let documento of tiposDocumentos">
            <div class="row row-doc">
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p>{{documento.nombre}}</p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <p><strong>{{documento.documentoClasificacion.nombre | uppercase}}</strong></p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <mat-checkbox [checked]="documento.obligatorio">OBLIGATORIO</mat-checkbox>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button (click)="editTipoDoc(documento)" mat-flat-button color="primary">Editar</button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="row">
            <div style="margin-top: 12px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button class="btn-action" (click)="newTipoDoc()" mat-raised-button color="primary">Agregar Nuevo Tipo
                    Documento</button>
            </div>
            <div style="margin-top: 12px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button class="btn-action" mat-raised-button color="accent">Guardar Cambios</button>
            </div>
        </div>
    </mat-card>
</div>