.table-data {
    width: 100%;
    height: 100%;
    td,
    th {
        width: 10%;
    }
}

// .table-form {
//     width: 100%;
//     height: 100%;
//     td,
//     th {
//         width: 10%;
//     }
// }
