<div style="margin-top:8px">
    <mat-card class="container-table  mat-elevation-z2">
        <section>
            <form [formGroup]="nuevaEmpresaForm">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Razon Social</mat-label>
                            <input formControlName="razonsocial" matInput>
                            <button *ngIf="nuevaEmpresaForm.get('razonsocial')?.value != null" matSuffix mat-icon-button
                                aria-label="Clear" (click)="nuevaEmpresaForm.patchValue({'razonsocial':null})">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="nuevaEmpresaForm.hasError('required', 'razonsocial')">
                                razon social es <strong>necesario</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>RUT</mat-label>
                            <input placeholder="11111111-1" formControlName="rut" matInput>
                            <button *ngIf="nuevaEmpresaForm.get('rut')?.value != null" matSuffix mat-icon-button
                                aria-label="Clear" (click)="nuevaEmpresaForm.patchValue({'rut':null})">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="nuevaEmpresaForm.hasError('required', 'rut')">
                                RUT es <strong>necesario</strong>
                            </mat-error>
                            <mat-error *ngIf="nuevaEmpresaForm.hasError('rutValido', 'rut')">
                                RUT no <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button (click)="crearEmpresa()" [disabled]="nuevaEmpresaForm.invalid || isLoadingNew"
                            class="button-form button-add-form" mat-raised-button color="primary">Agregar</button>
                    </div>
                </div>
            </form>
            <mat-progress-bar *ngIf="isLoadingNew" style="margin-top: 8px;" color="accent" mode="query">
            </mat-progress-bar>
        </section>
    </mat-card>
</div>