<div>
    <mat-toolbar color="primary" class="mat-elevation-z8">
        Recuperar contraseña
    </mat-toolbar>
    <div class="container form-reset">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Ingresa tu email para enviarte un link para restablecer tu contraseña
                </mat-card-title>
            </mat-card-header>
            <form [formGroup]="emailResForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <mat-form-field class="input-form" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" type="email" matInput>
                            <mat-error *ngIf="emailResForm.hasError('required','email')">
                                Email es <strong>necesario</strong>
                            </mat-error>
                            <mat-error *ngIf="emailResForm.hasError('email','email')">
                                Email no <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button [disabled]="emailResForm.invalid || isLoading" mat-raised-button color="primary"
                            (click)="enviarCorreoSolicitud()">Reestabler Contraseña</button>
                    </div>
                </div>
                <mat-progress-bar style="margin-top: 16px;" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
            </form>
        </mat-card>
    </div>
</div>