<mat-card>
    <mat-card-title>Protocolos COVID-19</mat-card-title>
    <mat-card-content>
        <table style="padding-top: 12px;">
            <tr>
                <td>
                    <mat-slide-toggle>Custionario Covid Ingresos</mat-slide-toggle>
                </td>
                <td style="padding-left: 32px;">
                    <mat-slide-toggle>Toma de temperatura Ingresos</mat-slide-toggle>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions style="padding: 8px;" align="start">
        <button mat-raised-button color="accent">Guardar Cambios</button>
    </mat-card-actions>
</mat-card>