<mat-toolbar color="primary" *ngIf="isLoggedIn" class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav && sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Plataforma Acreditacion TPC
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav *ngIf="isLoggedIn" #sidenav="matSidenav" class="mat-elevation-z8">
        <h4 class="name">{{cuenta?.usuario?.nombre || ''}} {{cuenta?.usuario?.apellido1 || ''}}</h4>
        <p class="designation">{{cuenta?.usuario?.tipoRol?.nombre || ''}}</p>
        <mat-divider></mat-divider>
        <button (click)="changePageMenu(item)" mat-button *ngFor="let item of listaItemsMenu" class="menu-button">
            <mat-icon class="mat-icon-menu">{{item.icon}}</mat-icon>
            <span>{{item.name}}</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-button class="menu-button">
            <mat-icon class="mat-icon-menu">logout</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <div [ngClass]="{'mat-elevation-z8':isLoggedIn}" class="content"> -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>