<mat-toolbar color="primary" *ngIf="isLoggedIn" class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav && sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Plataforma Acreditacion TPC
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav *ngIf="isLoggedIn" #sidenav="matSidenav" class="mat-elevation-z8">
        <h4 class="name">John Smith</h4>
        <p class="designation">Personal de Seguridad</p>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon class="mat-icon-menu">home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon class="mat-icon-menu">person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon class="mat-icon-menu">info</mat-icon>
            <span>About</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon class="mat-icon-menu">help</mat-icon>
            <span>Help</span>
        </button>
        <button (click)="logout()" mat-button class="menu-button">
            <mat-icon class="mat-icon-menu">logout</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>