<div>
    <h1>
        <!-- <strong>Requisitos Trabajadores Contrato {{data.contrato.codigoContrato}}</strong> -->
    </h1>
</div>
<mat-card>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <button routerLink="../.." mat-icon-button color="primary">
                Atrás
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <section>
        <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
        <div class="container-table  mat-elevation-z2">
            <table class="table-data" mat-table [dataSource]="dataSource" matSort>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell style="width: 50%;" *matCellDef="let row"> {{row.nombre}} </td>
                        </ng-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ng-container matColumnDef="activo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Obligatorio </th>
                            <td mat-cell style="width: 4%;" *matCellDef="let row">
                                {{row.obligatorio? 'Si':'No'}}</td>
                        </ng-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ng-container matColumnDef="fechaInicio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
                            <td mat-cell style="width: 8%;" *matCellDef="let row"> Sin Registro</td>
                        </ng-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ng-container matColumnDef="fechaTermino">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Término </th>
                            <td mat-cell style="width: 8%;" *matCellDef="let row"> Sin Registro</td>
                        </ng-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell style="width: 5%;" *matCellDef="let row">
                                <!-- <p><strong>{{row.hasDocument?'PENDIENTE':'SIN SUBIR'}}</strong></p> -->
                                <p><strong>{{(row.lastHistorico || 'No definido') | uppercase}}</strong></p>
                            </td>
                        </ng-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ng-container matColumnDef="archivo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Archivo </th>
                            <td mat-cell style="width: 5%;" *matCellDef="let row">
                                <button *ngIf="row.hasDocument" (click)="verArchivoCreado(row)" mat-icon-button
                                    color="primary">
                                    <mat-icon>file_present</mat-icon>
                                </button>
                                <button *ngIf="!row.hasDocument" mat-icon-button color="primary">
                                    <mat-icon>highlight_off</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell style="width: 5%;" *matCellDef="let row">
                                <!-- <button mat-flat-button color="primary">{{row.activo? 'Desactivar':'Activar'}} </button> -->
                                <!-- <button mat-flat-button color="primary">Editar </button> -->
                                <button [disabled]="row.hasDocument" (click)="openUploadDialog(row)" mat-icon-button
                                    color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                    </div>
                </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </section>
</mat-card>