<div style="text-align: center;">
    <h1><strong>Paises</strong></h1>
</div>
<mat-tab-group #tabs backgroundColor="accent" color="primary" mat-align-tabs="center">
    <mat-tab label="Listado">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-tabla-buscador-paises *ngIf="!isLoading" (actualizarListado)=obtenerPaises()
            [listaPaises]="listaPaises"></app-tabla-buscador-paises>
    </mat-tab>
    <mat-tab label="Ingresar Nuevo Pais">
        <app-nueva-gerencia-form (onNuevaGerenciaAgregada)=obtenerPaises()>
        </app-nueva-gerencia-form>
    </mat-tab>
</mat-tab-group>