<div style="text-align: center;">
    <h1><strong>Visitas</strong></h1>
</div>
<mat-tab-group #tabs backgroundColor="accent" color="primary" mat-align-tabs="center">
    <mat-tab label="Agendadas para Hoy">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-tabla-buscador-visitas [isAdministrador]="true" *ngIf="!isLoading" (actualizarListado)=obtenerMisVisitas()
            [listaVisitas]="listVisitasHoy" [showDateSearch]="false"></app-tabla-buscador-visitas>
    </mat-tab>
    <mat-tab label="Todas Agendadas">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-tabla-buscador-visitas [candEdit]="true" [isAdministrador]="true" *ngIf="!isLoading" (actualizarListado)=obtenerMisVisitas()
            [listaVisitas]="listTodasLasVisitas" [showDateSearch]="true">
        </app-tabla-buscador-visitas>
    </mat-tab>
    <mat-tab label="Ingresar Nueva Visita">
        <app-nueva-visita-form [isAdministrador]="isAdministrador" (onNuevaVisitaAdded)=obtenerMisVisitas() [listaEncargados]=listaEncargados>
        </app-nueva-visita-form>
    </mat-tab>
    <mat-tab label="Historico">
    </mat-tab>
</mat-tab-group>