<mat-card>
    <div>
        <h1><strong>Crear Nuevo Documento</strong></h1>
    </div>
    <div>
        <div *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <form *ngIf="!isLoading" [formGroup]=" nuevoTipoDocAcreditacionForm">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field appearance="outline" required>
                        <mat-label> Nombre </mat-label>
                        <input formControlName="nombre" matInput placeholder="Nombre" name="nombre">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Clasificacion Documento</mat-label>
                        <mat-select formControlName="clasificacionDocumento" required>
                            <mat-option *ngFor="let clasif of listaClasificacionDocumento" [value]="clasif.id">
                                {{clasif.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="padding-top: 2px;padding-bottom: 18px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <mat-checkbox formControlName="obligatorio">
                        Obligatorio</mat-checkbox>
                </div>
            </div>
        </form>
    </div>
    <div style="margin-top: 16px;" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button [disabled]="nuevoTipoDocAcreditacionForm.invalid" (click)="createNewTipoDocAcreditacion()"
                mat-raised-button color="accent">{{isEdit? 'Guardar
                Cambios':'Crear Nuevo'}} </button>
        </div>
    </div>
</mat-card>