<div class="login-form">
    <!-- <mat-card> -->
    <div style="text-align: center;margin-top: 2vh;margin-bottom: 8vh;">
        <img height="140px" width="300px" src="assets/imgs/logo-tpc-transparente.png" alt="">
    </div>
    <h1 class="login-title"><strong>Bienvenido</strong></h1>
    <form [formGroup]="loginForm">
        <div class="div-input">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="username" type="email" matInput placeholder="Ej. nombre@ejemplo.com">
                <mat-error *ngIf="loginForm.hasError('email', 'username')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginForm.hasError('required', 'username')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="div-input">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput>
                <mat-error *ngIf="loginForm.hasError('required','password')">
                    Contraseña is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.value.length<6">
                    Minimo 6 caracteres
                </mat-error>
            </mat-form-field>
        </div>

    </form>
    <div class="ingresar-btn">
        <button mat-raised-button color="primary" (click)="doLogin()">Ingresar</button>
    </div>
    <div class="contact-btn">
        <button (click)="mostrarRecuperarPasswrod()" mat-button>¿Olvidaste tu contraseña?.</button>
    </div>
    <div class="induccion-btn">
        <button mat-flat-button color="accent" (click)="irEncuestaInduccion()">Ir a inducción.</button>
    </div>
    <mat-progress-bar style="margin-top:8px" *ngIf="isLoading" mode="query"></mat-progress-bar>
    <!-- </mat-card> -->
</div>