<div class="">
    <mat-card>
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Elementos Carpeta de Arranque</strong></h1>
            </div>
        </div>
        <div class="item-ca" *ngFor="let item of elementosCarpetaArranque">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button (click)="verDetallesElemento(item)" style="margin-bottom: 12px;" color="primary"
                        mat-raised-button>Ver</button>
                </div>
                <div style="margin-top: 10px;" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    {{item.description}}
                </div>
                <div style="margin-top: 10px;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <h3><strong> Items : {{item.tiposDocumentosAcreditacion?.length || 0}}</strong></h3>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-card>
</div>