<div style="text-align: center;">
    <h1><strong>Gerencias</strong></h1>
</div>
<mat-tab-group #tabs backgroundColor="accent" color="primary" mat-align-tabs="center">
    <mat-tab label="Listado">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-tabla-buscador-gerencias *ngIf="!isLoading" (actualizarListado)=obtenerGerencias()
            [listaGerencias]="listaGerencias"></app-tabla-buscador-gerencias>
    </mat-tab>
    <mat-tab label="Ingresar Nueva Gerencia">
        <app-nueva-gerencia-form (onNuevaGerenciaAgregada)=obtenerGerencias()>
        </app-nueva-gerencia-form>
    </mat-tab>
</mat-tab-group>