<div style="text-align: center;">
    <h1><strong>Visitas</strong></h1>
</div>
<mat-tab-group #tabs backgroundColor="accent" color="primary" mat-align-tabs="center">
    <mat-tab label="Agendadas para Hoy">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-tabla-buscador-visitas *ngIf="!isLoading" (actualizarListado)=obtenerVisitas()
            [listaVisitas]="listVisitasHoy" [showDateSearch]="false" [candEdit]="true" [canMarcar]="true"></app-tabla-buscador-visitas>
    </mat-tab>
    <mat-tab label="Todas Agendadas">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-tabla-buscador-visitas *ngIf="!isLoading" (actualizarListado)=obtenerVisitas()
            [listaVisitas]="listVisitasAgendadas" [showDateSearch]="true" [candEdit]="true">
        </app-tabla-buscador-visitas>
    </mat-tab>
    <mat-tab label="Ingresar Nueva Visita">
        <app-nueva-visita-form (onNuevaVisitaAdded)=obtenerVisitas() [listaEncargados]=listaEncargados>
        </app-nueva-visita-form>
    </mat-tab>
    <mat-tab label="Historico">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <app-tabla-buscador-visitas *ngIf="!isLoading" (actualizarListado)=obtenerVisitas()
            [listaVisitas]="listVisitasHistorico" [showDateSearch]="true">
        </app-tabla-buscador-visitas>
    </mat-tab>
</mat-tab-group>