.table-data {
    width: 100%;
    height: 100%;
    td,
    th {
        width: 10%;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.button-form {
    width: 200px;
}

.search-input {
    width: 86vw;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 14px;
}

.checkbox-margin {
    margin: 0 10px;
}

.filter-h2 {
    margin: 10px;
}

.filter-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.accordion-new {
    margin-top: 16px;
    // background-color: #545bb3;
    // color: white !important;
}

.button-add-form {
    margin-left: 8px !important;
}
