<div>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h1><strong>Documento Acreditación</strong></h1>
        </div>
        <!-- <div *ngIf="tipoRolId==5" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button mat-raised-button color="warn">Eliminar
                <mat-icon>delete</mat-icon>
            </button>
        </div> -->
    </div>
    <mat-divider></mat-divider>
    <mat-card>
        <div style="margin-top:12px" class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Nombre Archivo</h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h4><strong>{{nombreFile}}</strong></h4>
            </div>
            <div *ngIf="data.estadoAcreditacionId==3 && tipoRolId==5" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <input  #fileInput hidden="true" type="file" onclick="this.value=null" (change)="fileInputChange($event)" />
                <button mat-flat-button color="accent" (click)="fileInput.click()">Cambiar</button>
                <!-- <button (click)="cambiarDocumento()" mat-raised-button color="primary">Cambiar
                    <mat-icon>description</mat-icon>
                </button> -->
            </div>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="data.estadoAcreditacionId==2 || data.estadoAcreditacionId==1" style="margin-top: 12px;" class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>
                    Fecha Inicio
                </h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{data.fechaInicio | date: 'dd/MM/yyyy'}}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>
                    Fecha Termino
                </h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{data.fechaTermino | date: 'dd/MM/yyyy'}}
            </div>
        </div>
        <div *ngIf="data.estadoAcreditacionId==3  && tipoRolId==5" style="margin-top: 12px;" class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <mat-form-field class="input-form" appearance="outline">
                    <mat-label>Fecha Inicio</mat-label>
                    <input 
                        id="__REQUESTDIGEST"
                        [(ngModel)]="data.fechaInicio"
                        required
                        matInput [matDatepicker]="pickerFechaInicio">
                    <mat-datepicker-toggle matSuffix [for]="pickerFechaInicio">
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerFechaInicio></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <mat-form-field class="input-form" appearance="outline">
                    <mat-label>Fecha Termino</mat-label>
                    <input 
                        [(ngModel)]="data.fechaTermino"
                        required
                        matInput [matDatepicker]="pickerFechaTermino">
                    <mat-datepicker-toggle matSuffix [for]="pickerFechaTermino">
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerFechaTermino></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <div style="margin-top: 12px;margin-bottom: 12px;" class="row">
        <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <!-- <a download href="../../../../assets/imgs/logo-tpc-transparente.png">Download</a> -->
            <button (click)="descargarFile()" style="width: 100%;" mat-raised-button color="primary">Descargar</button>
        </div>
        <div *ngIf="tipoRolId==5 && data.estadoAcreditacionId==3" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button (click)="editarDocumento()" style="width: 100%;" mat-raised-button color="accent">Enviar a Evaluar </button>
        </div>
        <div *ngIf="tipoRolId==4 && data.estadoAcreditacionId==2" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button (click)="validarDocumento()" style="width: 100%;" mat-raised-button color="accent">Validar </button>
        </div>
        <div *ngIf="tipoRolId==4 && data.estadoAcreditacionId==2" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button (click)="rechazarDocumento()" style="width: 100%;" mat-raised-button color="warn">Rechzar </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="tipoRolId==4">
        <div style="margin-top: 12px;" class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h2><strong>Historial Acreditación</strong></h2>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button mat-raised-button color="accent">Ver Todo</button>
            </div>
        </div>

        <div class="row" *ngIf="listHistoricoAcreditacion.length <= 0">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p style="margin-top: 24px; color: rgb(136, 0, 0);text-align: center;">
                    <strong>
                        No hay historial de acreditaciones
                    </strong>
                </p>
            </div>
        </div>
        <div *ngFor="let historico of listHistoricoAcreditacion">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h3>Fecha Evento</h3>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{historico.fecha | date: 'dd/MM/yyyy, h:mm a'}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{historico.estadoAcreditacion.descripcion}}
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>